<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.obeonetwork.pim.uml2.gen.java.ui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.obeonetwork.pim.uml2.gen.java.ui.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.obeonetwork.pim.uml2.gen.java.ui.addRemoveNatureAction"
               label="Add/Remove Acceleo UML2 to Java Generator Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="acceleoUMLToJavaBuilder"
         name="Acceleo UML2 to Java Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.obeonetwork.pim.uml2.gen.java.ui.builder.AcceleoUMLToJavaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="acceleoUMLToJavaNature"
         name="Acceleo UML2 to Java Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.obeonetwork.pim.uml2.gen.java.ui.builder.AcceleoUMLToJavaNature">
         </run>
      </runtime>
      <builder
            id="org.obeonetwork.pim.uml2.gen.java.ui.acceleoUMLToJavaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.obeonetwork.pim.uml2.gen.java.ui.launch.UML2JavaLaunchDelegate"
            id="org.obeonetwork.pim.uml2.gen.java.ui.launchConfigurationType"
            modes="run"
            name="%launchConfigurationName"
            sourceLocatorId="org.obeonetwork.pim.uml2.gen.java.ui.sourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.obeonetwork.pim.uml2.gen.java.ui.launch.UML2JavaPersistableSourceLocator"
            id="org.obeonetwork.pim.uml2.gen.java.ui.sourceLocator"
            name="%sourceLocatorName">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.obeonetwork.pim.uml2.gen.java.ui.launch.LaunchShortcut"
            icon="icons/acceleo_module_16x16.png"
            id="org.obeonetwork.pim.uml2.gen.java.ui.UML2JavaGenerationShortcut"
            label="%launchConfigurationShortcutLabel"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.uml">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.obeonetwork.pim.uml2.gen.java.ui.launch.AbstractLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroupsName"
            id="org.obeonetwork.pim.uml2.gen.java.ui.launchConfigurationTabGroup"
            type="org.obeonetwork.pim.uml2.gen.java.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.obeonetwork.pim.uml2.gen.java.ui.launchConfigurationType"
            icon="icons/acceleo_module_16x16.png"
            id="org.obeonetwork.pim.uml2.gen.java.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
